@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* color hunt é o site para pesquisar as paletas de cores */

:root {
    --font-family: 'Montserrat', sans-serif;
    --primary-color: #f9f4f4 ;
    --bg-color: #47B5FF;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0px;
    font-family: var(--font-family);
    font-weight: 700;
}

h1 {
    font-size: 5em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.mensagem {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
    margin-top: 40px;
}

.container{
    display: flex;
    margin-bottom: 10px;
}

.animation{
    font-size: 2em;
    animation: uau 1s ease-out alternate infinite;
}

.container .animation:nth-last-of-type(1){
    animation-delay: 0.25s;
}

.container .animation:nth-last-of-type(2){
    animation-delay: 0.50s;
}

.container .animation:nth-last-of-type(3){
    animation-delay: 0.75s;
}

.container .animation:nth-last-of-type(4){
    animation-delay: 1s;
}

@keyframes uau {
    0% {
        transform: translateY(0px), rotate(360deg);
        color: #e1ca09;

    }

    25% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(-20px);
        color: rgb(101, 243, 236);
    }

    100% {
        transform: translateY(0px);
    }
}

.box {
    border: solid 2px var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.acerto{
    color: #b9fae9;
}

.audio{
    opacity: 0;
}

.btn-jogar {
    padding: 8px 15px;
    border: 0px;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 500ms;
}

.btn-jogar:hover{
    transform: scale(1.2);
    background-color: #e1ca09;
    color: #3e3e3e;
}

.nome { 
    font-size: 0.8em;
    top: 10px;
    left: 10px;
    position: absolute;
    padding:9px ;
    border-radius: 30px;
    background-color: rgb(238, 238, 13);
    color: black;
}

@media screen and (max-width: 1024px){ /* A baixo deste valor ele aplica o estilo */
    h1 {
        font-size: 2em;
    }

    h3 {
        font-size: 1em;
        margin-top: 20px;
    }

    .box {
        border: solid 2px var(--primary-color);
        display: inline-block;
        font-size: 2em;
        padding: 10px;
        margin: 20px;
    }

    .btn-jogar {
        padding: 8px 15px;
        border: 0px;
        background-color: var(--primary-color);
        border-radius: 5px;
        margin-top: 20px;
        cursor: pointer;
    }

    .nome { 
        font-size: 0.5em;
        top: 10px;
        left: 10px;
        position: absolute;
        padding:9px ;
        border-radius: 30px;
        background-color: rgb(238, 238, 13);
        color: black;
    }
}